<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>

<p>投稿ユーザー画像：<%= image_tag @book.user.get_profile_image(100,100) %></p>
<p>ユーザーネーム：<%= @book.user.name %></p>

<h2>タイトル</h2>
<p><%= @book.title %></p>

<h2>本文</h2>
<p><%= @book.body %></p>
<h2>画像</h2>
<% if @book.image.attached? %>
  <%= image_tag @book.image, size: "300x300" %>
<% else %>
  <%= image_tag 'no_image', size: "300x300" %>
<% end %>
<%= link_to "編集", edit_book_path(@book.id) %>